# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Local files
*.log

# Node.js
node_modules/

# Old unused version
genesys_points_slow.py

# Untrack outputfile
genesys.json
cards.json
scraper/lflist_genesys.conf