# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Local files
*.log

# Old unused version
genesys_points_slow.py

# Untrack outputfile
scraper/cards.json
scraper/lflist_genesys.conf